@charset "UTF-8";
@import 'reset';
@import 'fonts';
@import 'responsive';

:root {
  --Proxima: 'Proxima Nova', gadget, sans-serif;
  --Roboto: roboto, sans-serif;
  --border-radius-1: 4px;
}

html,
body {
  font-family: var(--Proxima);
  margin: 0;
}

html,
body,
#__nuxt,
#__nuxt > div,
#page {
  min-height: 100vh;
}

#page {
  background-color: #ebebeb;
  position: relative;
}

#page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101px;
  background: linear-gradient(180deg, #c2c5d0 0%, rgba(196, 196, 196, 0) 100%);
}

.container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
}

.slct__group {
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.custom-slct {
  flex: 1;
  position: relative;
  z-index: 3;
}

.custom-slct select {
  display: none;

  /* hide original SELECT element: */
}

.donates-wrap,
.donates-col_hidden {
  -webkit-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
  opacity: 1;
  margin-top: 35px;
  padding-bottom: 150px;
}

.donates-col_hidden {
  display: none;
}

#page.openFilter .donates-wrap,
#page.openFilter .donates-col_hidden,
#page.openFilter .loader {
  opacity: 0;
}

/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
  padding: 15px 0;
  cursor: pointer;
  padding: 15px 0 15px 35px;
  background: url('@/assets/images/trending-down.svg') no-repeat center left
    transparent;
  opacity: 0.7;
  -webkit-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
}
.select-items div.is-selected,
.select-items div:hover,
.select-selected:hover {
  opacity: 1;
}

.select-items div,
.select-selected {
  &[data-sort='amount-desc'] {
    background-image: url('@/assets/images/trending-down.svg');
  }
  &[data-sort='amount-asc'] {
    background-image: url('@/assets/images/trending-up.svg');
  }
  &[data-sort='time-asc'] {
    background-image: url('@/assets/images/clock.svg');
  }
  &[data-sort='time-desc'] {
    background-image: url('@/assets/images/clock.svg');
  }
  &[data-sort='hidd'] {
    background-image: url('@/assets/images/archive-black.svg');
  }
}

/* Style items (options): */

.select-items {
  position: absolute;
  background-color: transparent;
  margin-top: 35px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */

.select-hide {
  display: none;
}

.icon-toggle {
  width: 46px;
  cursor: pointer;
  z-index: 5;
  opacity: 0.7;
  -webkit-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
  background: url('@/assets/images/moon.svg') no-repeat center center / 16px
    transparent;
}

.icon-toggle:hover {
  opacity: 1;
}

.donates-container {
  background: #fff;
  border-radius: var(--border-radius-1);
  padding: 17px 21px;
  margin-bottom: -19px;
  position: relative;
}

.donates-container + .donates-container {
  margin-top: 12px;
}

.donates-between-container + .donates-container {
  margin-top: -5px;
}

.donates__title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.donates__author {
  font-family: var(--Proxima);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.donates__time {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #000;
  opacity: 0.4;
}

.donates__price {
  margin-bottom: 8px;
}

.price {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: inline;
  margin-right: 8px;
  border-radius: 11px;
  padding: 4px 8px;
}

.price.price-level_1 {
  background-color: #ff4e1d;
  color: white;
}

.price.price-level_2 {
  background-color: #cead21;
  color: white;
}

.price.price-level_3 {
  background-color: #b237c8;
  color: white;
}

.price.price-level_4 {
  background-color: #51a8d6;
  color: white;
}

.price.price-level_5 {
  background-color: #ededed;
  color: rgba(0, 0, 0, 0.7);
}

.donates__text {
  font-size: 14px;
  line-height: 140%;
  color: #2c2c2c;
  margin: 16px 0;
}

.donates-between-container {
  cursor: text;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000;
  position: relative;
  padding: 16px;
  -webkit-transition: padding 100ms;
  -o-transition: padding 100ms;
  transition: padding 100ms;
}

.donates-between-container:hover,
.donates-between-container.active-input,
.donates-between-container.with-text {
  padding: 32px 0 17px;
}

.donates-between-container:not(.active-input):not(.with-text)::after {
  content: 'написать';
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  height: 20px;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

.donates-between-container:not(.active-input):not(.with-text):hover::after {
  opacity: 1;
}

.donates-col_to-hide {
  display: none;
}

.donates__time.donates__hide-show {
}

.input-box {
  height: 19px;
  width: 100%;
  text-align: center;
  border: 0 solid;
  background: none;
  outline-style: none;
}

/* Dark theme specifications: */

#page.dark {
  background-color: #080e15;
  color: rgba(255, 255, 255, 0.7);
  &::before {
    background: linear-gradient(180deg, #2e313a 0%, rgba(27, 27, 27, 0) 100%);
  }
  .icon-toggle {
    background-image: url('@/assets/images/sun-white.svg');
  }
  .select-items {
    div {
      color: rgba(255, 255, 255, 0.7);
      background: url('@/assets/images/trending-down-white.svg') no-repeat
        center left transparent;
    }
  }
  .slct__group {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .select-items div,
  .select-selected {
    &[data-sort='amount-desc'] {
      background-image: url('@/assets/images/trending-down-white.svg');
    }
    &[data-sort='amount-asc'] {
      background-image: url('@/assets/images/trending-up-white.svg');
    }
    &[data-sort='time-asc'] {
      background-image: url('@/assets/images/clock-white.svg');
    }
    &[data-sort='time-desc'] {
      background-image: url('@/assets/images/clock-white.svg');
    }
    &[data-sort='hidd'] {
      background-image: url('@/assets/images/archive-white.svg');
    }
  }
  .donates-container {
    background-color: #121a1f;
  }
  .donates__author {
    color: #fff;
  }
  .donates__text {
    color: rgba(255, 255, 255, 0.7);
  }
  .donates__time {
    color: rgba(255, 255, 255, 0.4);
  }
  .donates-between-container {
    color: rgba(255, 255, 255, 0.5);
  }
  .price.price-level_5 {
    background-color: #29363f;
    color: rgba(255, 255, 255, 0.7);
  }
  .input-box {
    color: rgba(255, 255, 255, 0.5);
  }
  .donates-between-container:not(.active-input):not(.with-text)::after {
    color: rgba(255, 255, 255, 0.5);
  }
}

@keyframes expand {
  0% {
    padding: 16px 0 16px;
  }
  100% {
    padding: 32px 0 17px;
  }
}
