@media screen and (min-width: 1920px) {}

@media screen and (min-width: 1600px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1200px) {
  #page {
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 920px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {
  .donates-container .move-to-hide-show {
    display: block;
    opacity: 1;
    position: static;
    padding-left: 0;
  }
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 340px) {}
